* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: rgb(0,223,255);
  background: linear-gradient(90deg, rgba(0,223,255,1) 0%, rgba(182,0,255,1) 51%, rgba(88,255,113,1) 100%);
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 4rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 4.5rem;
}

.logo {
  width: 160px;
}

.social-container {
  display: flex;
  gap: 1rem;
}

.social-container a:hover {
  transform: scale(1.1);
  transition: transform 350ms ease;
}

.pixel-frame-container {
  margin: 1.5rem auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.55);
}

.pixel {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.063rem solid hsla(0, 2%, 22%, 0.6);
  font-size: 0.25rem;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.buttons-container {
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;
  background-color: #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 2em;
  padding: 0;
  width: 2rem;
  border-radius: 0.125rem;
}

.buttons-container img {
  cursor: pointer;
  transition: transform 350ms ease;
}

.buttons-container img:hover {
  transform: scale(1.1);
}

.clear-board {
  width: 2rem;
}

.eraser-pixel {
  background-color: transparent;
}

.paint-bucket {
  width: 2rem;
}
