:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 223, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 215, 248) 0%,
    rgb(183, 0, 255) 51%,
    rgb(0, 255, 115) 100%
  );
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 4rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 4.5rem;
}

.logo {
  width: 160px;
}

.social-container {
  display: flex;
  gap: 1rem;
}

.social-container a:hover {
  transform: scale(1.1);
  transition: transform 350ms ease;
}

.pixel-frame-container {
  margin: 1.5rem auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.55);
}

.pixel {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.063rem solid hsla(0, 2%, 22%, 0.6);
  font-size: 0.25rem;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.buttons-container {
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;
  background-color: #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 0.5rem;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 2.5em;
  padding: 0;
  width: 2rem;
  border-radius: 0.125rem;
}

.buttons-container img {
  cursor: pointer;
  border: 1px dashed transparent;
  transition: all 350ms linear;
}

.buttons-container img:hover {
  transform: scale(1.1);
}

.clear-board {
  width: 2rem;
}

.eraser-pixel {
  background-color: transparent;
}

.paint-bucket {
  width: 2rem;
}

.btn-download {
  height: 2em;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  border-radius: 0.2rem;
  background-color: #3e4854;
  border: none;
  color: #ffffff;
}

img.active {
  border: 1px dashed #3e4854;
  border-radius: 4px;
}

.rotate45deg {
  transform: rotate(45deg);
}
